
.header-content{
    background-image: url('assets/plan/desktop/image-hero-blackcup.jpg');
    background-repeat: no-repeat;
}

.how-its-works{
    width: 1280px;
    padding: 48px;
    margin: -150px 0;
    color: #fff;
    font-family: ;
    background-image: url('assets/plan/desktop/bg-steps.png');
    z-index: -1;
}

.options{
    width: 1045px;
}

.options,
.oval-shapes{
    margin-left: 60px;
}

.oval-shapes{
    position: relative;
}

.oval-shapes::after{
    content: "  ";
    width: 760px;
    height: 2px;
    background-color: #FDD6BA;
    z-index: 1;

    position: absolute;
    top: 50%;
    left: 15px;
}

.option h2{
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 3px;

}

.option p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* offer section  */

.offers{
    margin: 300px 0 0 80px;
    display: flex;
    gap: 96px;
}

.offer-option {
    color: #83888F;
    display: flex;
    gap: 24px;

    font-size: 14px;
    opacity: 80%;

    border-bottom: 1px solid #83888F;
    padding: 24px;
    margin-bottom: 12px;
    width: 255px;
}

.offer-option:last-child{
    border-bottom: 1px solid transparent;
}

.offer-heading{
    display: flex;
    /* gap: 200px; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px ;
    width: 720px;
}

.offer-heading h1{
    font-size: 40px;
    font-weight: 900;
    color: #83888F;
    font-family: 'Fraunces', serif;
}

.offer-cards{
    display: flex;
    gap: 18px;
    margin-bottom: 88px;
}

.offer-card{
    width: 230px;
    height: 250px;
    padding: 32px 24px;
    background-color: #F4F1EB;
    border-radius: 10px;
    cursor: pointer;
}

.offer-card:hover{
    color: #000     ;
    background-color: #FDD6BA;
}

.offer-card h1{
    font-size: 24px;
    margin-bottom: 24px;
}

.offer-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.active-card{
    background-color: #0E8784;
    color: #fff;
}

/* order summary  */

.order-summary{
    color: #fff;
    width: 730px;
    margin-bottom: 150px;
    background-image: url('assets/plan/desktop/bg-order-summary.png');

    position: relative;
}

.order-summary-heading{
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
    text-transform: uppercase;
    margin-bottom: 12px;

}

.order-summary-text{
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    padding: 32px 48px;
    width: 670px;
}

.order-summary-span{
    color: #115e5d;
}

.order-summary-btn{
    position: absolute;
    bottom: -100px;
    right: 0px;
}